In [1]:
 import pandas as pd

In [7]:
s1 = pd.Series([10,20,30,40,50])
s_tuple=pd.Series(("apple","banana","cherry"))
s_dictionary=pd.Series({"brand": "Ford", "model": "Mustang", "year": 1964})
print("The s1 series values are:", s1.values)
print("The s1 index values are:", s1.index.values)
print("\n")
print("The s_tuple series values are:",s_tuple.values)
print("The s_tuple index value are: ",s_tuple.index.values)
print("\n")
print("The s_dictionary values are :",s_dictionary.values)
print("The s_dictionary index values are:",s_dictionary.index.values)

The s1 series values are: [10 20 30 40 50]
The s1 index values are: [0 1 2 3 4]


The s_tuple series values are: ['apple' 'banana' 'cherry']
The s_tuple index value are:  [0 1 2]


The s_dictionary values are : ['Ford' 'Mustang' 1964]
The s_dictionary index values are: ['brand' 'model' 'year']

In [53]:
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print("The Marks obtained by student are \n", s2)

#assign the s2 series name to be "Student Marks"
s2.name="Students Marks"

#assign the s2 index name to be "Subject"
s2.index.name="Subjects"
print("\nThe Marks obtained by student are \n", s2)

The Marks obtained by student are
 English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

The Marks obtained by student are
 Subjects
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Students Marks, dtype: int64

In [9]:
# slicing using default integer index
# return the elements starting at position one and ending with the element at index 3
s1[1:4]

1    20
2    30
3    40
dtype: int64

In [11]:
# Slicing using string index
s2['Tamil']

85

In [12]:
# return the first element in the s2 series
s2[0]

80

In [17]:
# create a dictionary of fruit names and their prices. Use the values from the article
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}
# Lets convert this dictionary into a series
fruits=pd.Series(dict_fruits)

# print the series
print("Fruits and Price\n",fruits)

Fruits and Price
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [22]:
# Slice the series and retrieve price of grapes
print("The price of per kg Grapes is",fruits['Grapes'])

The price of per kg Grapes is 90

In [51]:
# create a dataframe from the s2 series
df_marks = pd.DataFrame(s2, columns=['Student1'])
# print the dataframe
print("The dataframe created from series is\n",df_marks)

The dataframe created from series is
          Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [55]:
# Create height series using [5.3, 6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
height=pd.Series([5.3, 6.2,5.8,5.0,5.5],index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
weight=pd.Series([65,89,75,60,59],index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

#Create a dataframe from the height and weight series above
df_person=pd.DataFrame({'height':height,'weight':weight})
df_person

          height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59